{% extends 'base/layout.html' %}
{% load static %}
{% block head %}
<nav class="navbar navbar-expand-sm bg-info navbar-dark 
    justify-content-center">
    <ul class="navbar-nav">
    <li class="nav-item">
            <a class="nav-link" href="/">BACK</a>
    </li>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp  &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
        
             <li class="nav-item">
               <a class="nav-link" href="/login/">LOGIN</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/register/">SIGNUP</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/adminlogin/">ADMINLOGIN</a>
             </li>
             <li class="nav-item">
                   <a class="nav-link" href="/dashboard/">DASHBOARD</a>
            </li>
   
           </ul> 
    </nav>
    {% endblock %}
{% block content %}
<center>
        <pre><p class="h2 text-uppercase mb-3 text-info">       ADMIN LOGIN</p></pre>
<form action="" method='POST' class = "mt-4">
    <br><br><br><br><br><br><br><br>
    {% csrf_token %}{{form.as_p}}
    <br><br>
    <input type="submit" class="btn btn-info" value="SUBMIT" >
    <!-- <a href="/" class="btn btn-info" role="button">Back</a>   -->
       
</form>
</center>

<link rel="stylesheet" href="{% static 'css/b1.css' %}">
{% endblock %}