 {% extends 'base/layout.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/b1.css' %}">{% endblock %} 
  
 
 {% block content %}
<div class="h ">
<div class="justify-content-center">
<center>
  <br><br><br><br>
  <a href="login/" class="btn btn-info" role="button">LOGIN</a>
</center>
<center>
  <br><br><br><br> 
  <a href="register/" class="btn btn-info" role="button">SIGNUP</a>
</center>
<center>  
  <br><br><br><br>
  <a href="adminlogin/" class="btn btn-info" role="button">ADMINLOGIN</a>
</center>    
  <br><br><br><br>

</div>

  
</div>



 {% endblock %}