{% extends "base\layout.html" %}
{% load static %}
{% block content %}


{% if result %}
<table class="table table-responsive">
    <thead>
            <tr>
                <th scope="col">Id</th> 
                <th scope="col">BOOK NAME</th>
                <th scope="col">OWNER NAME</th>
                <th scope="col">SELLING PRICE</th>
                <th scope="col">ORIGINAL PRICE</th>
                <th scope="col">PHONE NUMBER</th>
                <th scope="col">CHECK BOX</th>
            </tr>
            
    </thead>
    <tbody>
            <form method="POST">
                {% csrf_token %}
                {% for r in result %}
                <tr>
                        <td scope="row">{{r.id}}</td>
                        <td>{{r.book_name}}</td>
                        <td>{{r.ownername}}</td>
                        <td>{{r.selling_price}}</td>
                        <td>{{r.original_price}}</td>
                        <td>{{r.ph_num}}</td>
                        <td>
                                <input type="checkbox" name="{{r.id}}" {% if r.verified %} checked {% endif %}>
                       </td>
                </tr>
                {% endfor %}
    </tbody>
</table>
<input type="submit" value="verified">
</form>
{% endif %} 
{% endblock %}
  